h1= filename.split('/').slice(-1)[0]
.filename= filename

#comments
  - each comment in comments
    - if (comment.ignore) continue
    .comment
      h2= comment.ctx.string
      .summary!= comment.description.summary
      code
        pre!= comment.code